@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  overflow: hidden;
}

.oper {
    @apply text-text-base font-bold bg-primary cursor-pointer transition duration-200 hover:bg-secondary-light rounded p-2
}

.resizable {
    resize: both;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
}

.glass {
  color: white;
    @apply backdrop-blur-lg backdrop-brightness-75 backdrop-opacity-80
}

.invert {
    filter: invert(1);
}

.inputLabel {
    @apply flex flex-row items-center gap-2
}

.inputColor {
    @apply shadow rounded hover:scale-105 transition-transform duration-200 cursor-pointer border-none;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
        width: 100%;
    }
    &::-webkit-color-swatch {
        border: none;
        border-radius: inherit;
        width: 100%;
        padding: 0;
    }
}

.inputColor {
	appearance: none;
	border: none;
}
.inputColor::-webkit-color-swatch-wrapper {
	padding: 0;
}
.inputColor::-webkit-color-swatch {
	border: none;
}

.select-main {
  @apply h-full w-full rounded-[7px] border border-t-0 px-3 py-2.5 font-sans text-sm font-normal text-text-base outline outline-0 transition-all placeholder-shown:border focus:border-2 focus:border-primary focus:border-t-0 focus:outline-0 disabled:border-0
}

.option-main {
  @apply p-2 text-text-base bg-secondary hover:bg-secondary-light transition-colors duration-200 rounded
}

.button-main {
  @apply p-2 text-text-base bg-primary hover:bg-secondary-light transition-all duration-200 active:scale-95 rounded
}

.input-main {
  @apply bg-primary-light text-text-base px-2 py-1 rounded-md w-full focus:outline-none focus:ring
}

.browser-icon-main {
  @apply bg-primary-light hover:bg-secondary transition-all duration-200 hover:shadow-lg active:scale-95 shadow text-text-base font-bold py-1 px-2 rounded
}

.bg-blur::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* apply the blur */
  pointer-events: none; /* make the overlay click-through */
}

.bg-blur {
  position: relative;
  background: no-repeat;
  background-image: var(--background-image, none);
  background-size: cover;
}

#root {
  overflow: hidden;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.flex-game {
  @apply flex flex-row gap-4 overflow-x-auto p-5;
}

.flex-game::-webkit-scrollbar {
  display: none;
}

/* Container */
.container-game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  max-width: 100%;
  padding: 5px;
  overflow: hidden;
}

/* Card */
.card {
  color: white;
  @apply h-[225px] w-full p-2 overflow-hidden relative rounded-sm shadow transition duration-300 hover:shadow-2xl hover:scale-105 hover:visible hover:backdrop-blur;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Card Image */
.card img {
  @apply absolute top-0 left-0 w-full h-full object-cover transition duration-300 hover:-translate-y-10;
}

/* Card Description Layer */
.img__description_layer {
  @apply absolute inset-0 opacity-0 transition-opacity p-2 hover:opacity-100 hover:backdrop-blur hover:backdrop-brightness-75;
}

/* Card Description */
.img__description {
  @apply transition duration-200 translate-y-4;
}

/* Hover Effect for Description */
.card:hover .img__description {
  @apply translate-y-0;
}


@keyframes expandToCorners {
  0% {
   transform: scale(1);
   
 }
  100% {
   transform: scale(1);
    top: 0;
    left: 0;
 }
}

.fullscreen-animate {
 top:  0; /* Center vertically */
 left:  0; /* Center horizontally */
 animation: expandToCorners  0.5s cubic-bezier(0.86,  0,  0.07,  1) forwards;
}

.shake {
  animation: shake 200ms ease-in-out infinite;
  animation-play-state: running;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.ripple-button {
  @apply relative cursor-pointer overflow-hidden px-2 py-1 text-text-base bg-primary hover:bg-secondary-light transition-all duration-200 active:scale-95 rounded
}

.ripple-button > .ripple {
  animation: 0.9s ease 1 forwards ripple-effect;
  content: "";
  @apply absolute block w-10 h-10 bg-secondary rounded-full opacity-100
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}

textarea, select {
  color: black;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

.custom-scrollbar {
  /* Width and height should match the desired size of the scrollbar */
  width: 10px;
  height: 200px;
  overflow-y: auto;
  /* Other styles for the custom scrollbar */
  background-color: #f0f0f0;
  border-radius: 5px;
  scrollbar-color: #ccc #f0f0f0;
  border: 1px solid #ddd;

  /* Webkit scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;

  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;

  /* IE scrollbar */
  -ms-overflow-style: none;
  scrollbar-color: #ccc #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar{height:1rem;width:.5rem}::-webkit-scrollbar:horizontal{height:.5rem;width:1rem}::-webkit-scrollbar-track{background-color:transparent;border-radius:9999px}::-webkit-scrollbar-thumb{--tw-border-opacity:1;background-color:hsla(0,0%,89%,.8);border-color:rgba(255,255,255,var(--tw-border-opacity));border-radius:9999px;border-width:1px}::-webkit-scrollbar-thumb:hover{--tw-bg-opacity:1;background-color:rgba(227,227,227,var(--tw-bg-opacity))}.dark ::-webkit-scrollbar-thumb{background-color:hsla(0,0%,100%,.1)}.dark ::-webkit-scrollbar-thumb:hover{background-color:hsla(0,0%,100%,.3)}@media (min-width:768px){.scrollbar-trigger ::-webkit-scrollbar-thumb{visibility:hidden}.scrollbar-trigger:hover ::-webkit-scrollbar-thumb{visibility:visible}}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: white;
  overflow: hidden;
  color: white;
}

button .svg-icon {
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
}
/* styles.css */

.datepicker {
  backdrop-filter: blur(20px);
  background-color: rgba(30, 30, 30, 0.8);
  color: white;
  padding: 8px; /* Adjust padding to make it smaller */
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border-left: #ccc;
}

.calendar-header button {
  background: none;
  border: none;
  color: white;
  font-size: 14px; /* Adjust font size for buttons */
  cursor: pointer;
}

.calendar-header .current-month {
  font-weight: bold;
  font-size: 14px; /* Adjust font size for current month */
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px; /* Adjust padding for day cells */
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px; /* Adjust font size for day cells */
}

.calendar-day:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.buttons {
  opacity: 1;
  transition: 150ms;
}

.button-container {
  padding: 12px;
  @apply grid grid-cols-2 gap-2 
}